<div class="container">
  <div class="vertical-center">
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="card">
          <div class="card-body">

            <% if flash[:success] %>
              <div class="alert alert-success">
                <%= flash[:success] %>
              </div>
            <%end%>

            <% if flash[:danger] %>
              <div class="alert alert-danger">
                <%= flash[:danger] %>
              </div>
            <%end%>

            <%= form_for :user, url: login_path, html: { multipart: true }  do |f| %>
              <div class="form-group">
                <%= f.text_field :username, class: "form-control", placeholder: "Nom d'utilisateur" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control' %>
              </div>
              <div class="form-group text-center">
                <%= f.submit 'Connexion', class:"btn btn-primary btn-lg btn-block", disable_with: 'Connecting...' %>
                <a href="#">Mot de passe oublié</a> |
                <a href=" <%=register_path%> ">S'inscrire</a>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>