<%= form_for post, html: { multipart: true }  do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= image_tag(post.image.url) if post.image && post.image.url %>
    <div class="form-group">
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="form-group text-right">
      <%= f.submit 'Poster', class: 'btn btn-primary btn-lg' ,data: {confirm: 'Validez-vous la publication?'}, disable_with: 'Submiting...' %>
    </div>
  <% end %>