<div class="container-fluid">
  <%= image_tag(post.image.url, class:'img-fluid img-larg') if post.image && post.image.url %>
  <%= content_tag('small',"Par: #{post.user.username==current_user.username ? 'Vous' : post.user.username}", class:'text-left') if post.user && post.user.username %>
</div>

<div class="container">
  <p>
    <%= post.content %>
  </p>
  <div class="card-footer">
    <% if current_user.posts.include?(post) %>
      <a href="<%= to_favorite_post_path(post.id) %>"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
    <% else %>
      <a href="<%= to_favorite_post_path(post.id) %>"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a>
    <% end %>
  </div>
  <%if post.is_author?(current_user.id)%>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm">
          <a href="<%= edit_post_path(id: post.id) %>" class="btn-link">Editer</a>
        </div>
        <div class="col-sm">
          <a href="<%= post_path(id: post.id) %>" 
          data-confirm="Voulez-vous reelement effectuer cette action?"
          data-method="DELETE"
          class="btn-link text-danger">Supprimer</a>
        </div>
      </div>
    </div>
  <%end%>
</div>