<!DOCTYPE html>
<html>
  <head>
    <title> <%= Rails.application.config.site[:name] %> </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"> <%= Rails.application.config.site[:name] %> </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href=" <%= root_path%> ">Acceuil</a>
        <% if logged_in? %>
          <a class="p-2 text-dark" href="<%=posts_path%>">Mes publications</a>
          <a class="p-2 text-dark" href="<%=favorites_path%>">Favories</a>
          <a class="p-2 text-dark" href="<%=profil_path%>">Profil</a>
          <a class="p-2 btn btn-primary" href="<%= new_session_path %>" data-method="DELETE">Deconnexion</a>
        <% else %>
          <a class="btn btn-outline-primary" href="<%=login_path%>">Se connecter</a>
        <%end%>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>
